:host ::ng-deep{
    .mat-mdc-card-content {
        padding: 16px;
    }
}

.app-container{
    display: flex;
    gap: 10px;
}

.cardElements {
    flex: 1 0 21%; /* explanation below */
    margin: 8px;
    max-width:360px;
}
.svg-logo-icon{
    height: 47.7px;
}

.card-header-image {
    background-size: cover;
}